<style>
body{
 height: 100%;
 margin: 0;
 text-align: justify;
 width: 100%;
}

h1{
 font-size: 32px;
 font-family: Palatino, 'Palatino Linotype', serif;
}

h2{
 font-size: 32px;
}

h3{
 color: darkgreen;
}

.hero{
 padding: 250px 0;
 margin: 30px;
 background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg");
 background-size: cover;
}

p{
}

.hero a{
 color: #00FFAA;
 font-size: 24px;
 text-decoration: none;
} 

div.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
